* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: coral;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    position: fixed;
    bottom: 0%;
    display: block;
    width: 100%;
}